.textStyle, input::placeholder{
    color: var(--custom-gray);
}

.tableHead th{
    background-color: var(--custom-table-gray);
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

.allTableStyle{
    width: 80vw;
    margin: 0 10vw;
    background-color: white;
    color: var(--custom-gray);
    border-radius: 7px;
    overflow: hidden;
}

.pointer{
    cursor: pointer;
}

.tableBodyStyle td{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2vh;
    text-align: -webkit-center;
    max-width: 5vw;
}

.allTableStyle tr td:last-child:not(.noRes){
    width: 10%;
    margin:  0 1vw 0 0.5vw;
}

.allTableStyle tr:not(:last-child){
    border-bottom: 1px solid var(--custom-table-gray);
}

.headLine{
    text-align: right;
    color: var(--custom-gray);
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 1.43em;
    font-weight: 600;
}

.noRes{
    padding: 5vh;
    text-align: center;
}

.spinner-border{
    border: 0.45vh solid currentColor;
    border-right-color: transparent;
}

.readMore{
    color: var(--custom-blue);
    border-bottom: 2px var(--custom-blue) solid;
    width: fit-content;
    float: left;
    margin: 3vh 11vw;
    font-weight: bold;
    font-size: 2.3vh;
    cursor: pointer;
}