.meetingDetailsDash{
    width: 80%;
    background-color: white;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0px 2px 6px #0000000A;
    padding-top: 4vh;
    // overflow: hidden;

    .inputStyle, .containCreateMettingButton{
        width: calc(100% - 12vw) !important;
    }

    .containFallenDetails .inputStyle{
        width: 95% !important;
    }

    @media screen and (min-width: 551px){
        .containFallenDetails, .listSearch{
            width: calc(100% - 12vw) !important;
        }

        .containDateAndTime{
            width: calc(100% - 12vw) !important;
            .inputStyle{
                width: 100% !important;
            }
        }
        
        .fallenSearchDiv {
            width: 100% !important;
        }
    }
}

.trash{
    color: var(--custom-gray);
    font-size: 2.5vh;
    transition: ease 0.5s color, ease 0.2s font-size;
    position: relative;
    cursor: pointer;
}

.trash:hover{
    color: var(--custom-orange) !important;
    font-size: 2vh;
    transition: ease 0.5s color, ease 0.2s font-size;
    
    .trashText{
        height: 1.5vh;
    }
}

.copy{
    position: absolute;
    left: 8vw;
    top: 1.5vh;
    color: var(--custom-gray);
    cursor: pointer;
}

.copy:hover{
    color: var(--custom-orange); 
}

.trashText{
    font-size: 1.3vh;
    position: absolute;
    height: 0;
    overflow: hidden;
    right: -15px;
    width: 6vw;
}

.panelContain{
    position: relative;
    cursor: pointer;

    .panelBtn{
        background: var(--custom-gray);
        transition: ease 0.5s background;
    }

    .panelText{
        opacity: 0;
        font-size: 1.7vh;
        transition: ease 0.5s opacity;
        width: 100%;
    }
}

.panelContain:hover{
    cursor: pointer;
    
    .panelBtn{
        background: var(--custom-dark-green);
        transition: ease 0.5s background;
    }

    .panelText{
        color:var(--custom-dark-green);
        opacity: 1;
        transition: ease 0.5s opacity;
    }

}

.panelistContain{
    .panelBtn{
        background: var(--custom-dark-green);
    }
}



