.mainPage-meetings-comp{
    margin: auto;
    width: 88vw;
    font-size:10px;
    @media screen and (max-width: 900px){
        font-size: 8.5px;
    }
    @media screen and (max-width: 800px){
        font-size: 7.5px;
    }
    @media screen and (max-width: 700px){
        font-size: 6.5px;
    }
    @media screen and (max-width: 600px){
        font-size: 5.5px;
    }
}

.containMeetings-comp{
    margin: auto;
    width: 88vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 3vh;
    z-index: 2 !important;
}


.containMeetingCard1-comp{
    display: flex;
    width: 20vw;
    border-radius: 3px;
    overflow: hidden;
    z-index: 2 !important;
}

.containMeetingCard2-comp{
    display: flex;
    width: 20vw;
    flex-direction: row-reverse;
    border-radius: 3px;
    overflow: hidden;
    z-index: 2 !important;
}

.meetingCard-comp{
    position: relative;
    padding: 1.3vw;
    background-color: var(--custom-dark-blue);
    height: 15vw;
    width: 10vw;
    z-index: 2 !important;




}

// .arrow-blue-comp{

    // position: absolute;
    // border-color: transparent  var(--custom-dark-blue);
	// border-style: solid;
    // border-width: 0.8vw 0px 0.8vw 1.6vw;
    // height: 0;
    // width: 0;


    // z-index: 1;
    // width: 2vw;
    // height: 2vw;
    // background-color: var(--custom-dark-blue);
    // -webkit-transform:rotate(-30deg) scaleZ(1.7) skewX(35deg);
    // transform: rotate(-30deg) scaleZ(1.7) skewX(35deg);
    // border-radius: 2px;
    // backface-visibility: hidden;
    // -webkit-backface-visibility: hidden;
    
// }

.arrow-right-blue {
    position: absolute;
    border-color: transparent  var(--custom-dark-blue);
	border-style: solid;
    border-width: 0.8vw 0px 0.8vw 1.6vw;
    height: 0;
    width: 0;
    right: -1.6vw;
}

.arrow-left-blue {
    position: absolute;
    border-color: transparent  var(--custom-dark-blue);
	border-style: solid;
    border-width: 0.8vw 1.6vw 0.8vw 0px;
    height: 0;
    width: 0;
    left: -1.6vw;
}

.meetingCardContent-comp{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2 !important;
}

.meetingName-comp{
    font-weight: 700;
    font-size: 1.5vw;
    display: flex;
    flex-grow: 1;
    z-index: 2 !important;
}

.meetingOwner-comp{
    font-size: 1vw;
    display: flex;
    text-align: start;
    z-index: 2 !important;
}







.flip-card {
    direction: rtl;
    margin: 1vw 1vw;
    position: relative;
    // background-color: transparent;
    // perspective: 1000px;
    width: fit-content;
    height: fit-content;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .meetingCard-comp:hover{
      opacity: 0;
  }
  
//   .flip-card:hover .flip-card-inner {
//     transform: rotateY(180deg);
//   }
  
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
    top: 0;
    background-color: var(--custom-dark-blue);
    color: white;
    // transform: rotateY(180deg);
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    padding: 2vw;
    font-size: 1.3vw;
  }
  
