
#contactPage {
    /*text-align: center;*/
    min-height: calc(83vh);
    padding-right: 6vw;
    padding-left: 6vw;
    /* background: #f6f6f6; */
    /* display: flex;
    justify-content: center; */
}

.contactMail{
    display: flex;
    justify-content: center;
}

.contactSocial{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textContact{
    /*text-align: center;*/
    font: normal 23px Assistant;
    letter-spacing: 0px;
    color: #4D4F5C;
    opacity: 1;
    height: fit-content;
    /* margin-right: 4vw; */
}

.margin-right-left-text{
    margin: 0 6vw 4vh;
}

.facebook-div,
.supportButton{
    background: #0A2D63 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    color: white;
    font-weight: bold;
    display: flex;
    padding: 1vh 3vh;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 4vh;
}

.supportButton{
    margin: auto auto;
}

.supportButton:hover{
    text-decoration: none;
}

.contactFacebookImg{
    width: 20px;
    height: 20px;
    mask-size: 20px 20px;;
    -webkit-mask-size: 20px 20px;
    background: white;
    margin-right: 1vh;
    mask-image: Url('../icons/facebook.svg');
    -webkit-mask-image: Url('../icons/facebook.svg');
}

.contactHeadLine{
    font: 32px 'ArbelHagildaBold', sans-serif;
    letter-spacing: 0;
    color: #0A2D63;
    padding-top: 6vh;
}

.contactSecondSentence{
    font: 32px 'ArbelHagildaBold', sans-serif;
    letter-spacing: 0;
    color: #19A099;
    margin-top: 50px;
}


@media screen and (max-width: 550px){
    #contactPage {
        text-align: center !important;
        /* min-height: calc(100vh - 16.2vh); */
    }

    .margin-right-left-text{
        justify-content: center;
    }

    .contactHeadLine{
        font: Bold 28px Assistant;
        margin-top: 1vh;
    }

    .contactSecondSentence{
        font: normal 21px Assistant;
    }

}

@media screen and (max-height: 450px){
    .contactHeadLine{
        margin-top: 16vh;
    }
}

@media screen and (min-width: 550px){
    #contactPage{
        margin-top: 11vh;
    }
}

@media screen and (max-width: 450px){
    .contactSocial{
        flex-direction: column;
    }

    .contactSecondSentence{
        margin-top: 20px;
    }
}