
.createMeetingHeadLine{
    font: Bold 40px/52px Assistant;
    letter-spacing: 0;
    color: #0A2D63;
}

.createMeetingSecondSentence{
    font: normal 30px/40px Assistant;
    letter-spacing: 0.5;
    margin-right: 2vw;;
    max-width: 65%;
    color: #3586B1;
    padding-bottom: 5vh;
}

.inputStyle{
    color: #4D4F5C;
    border: 2px solid #E8E9EC;
    border-radius: 4px;
    outline: none;
    width: 65%;
    padding: 1vh 2vh;
    margin-bottom: 2vh;
}

.textSide{
    text-align: right;
    font: normal 30px/30px Assistant;
    letter-spacing: 0.5px;
    color: #082551;
}

input[type=radio] {
    border: 1px solid #4D4F5C;
    background: url("../icons/checkbox_off_light.svg") no-repeat center center;
    padding: 0.5em;
    margin-left: 1vh;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=radio]:checked {
    background: url("../icons/checkbox_on_light.svg") no-repeat center center;
}

input[type=radio]:focus {
  outline-color: transparent;
}

.containInputTextSide{
    background-color: rgb(25, 160, 153);
    padding: 8vh 10vh;
    top: 10vh;
    left: 0px;
    height: 90vh;
    width: 27%;
}

.createMeetingButton{
    background: #3586B1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 29px;
    color: white;
    font: Bold 25px/33px Assistant;
    padding: 1vh;
    cursor: pointer;
    width: 23vh;
    margin-bottom: 20vh;
    text-align: center;
}

.margin-right-text{
    margin-right: 6vw;
}

.textAreaStyle{
    resize: none;
}

.inputDetail{
    font: Bold 18px/13px Assistant;
    letter-spacing: 0;
    color: #0A2D63;
}

.MuiPickersBasePicker-pickerView, .MuiPickersBasePicker-pickerViewLandscape,.MuiPickersModal-withAdditionalAction {
    background-color: #FBF1EC !important;
}

.MuiButton-textPrimary  {
    color: #0A2D63 !important;
}
  
.MuiPickersClock-pin,.MuiPickersToolbar-toolbar,.MuiPickersTimePickerToolbar-toolbarLandscape , 
.MuiPickersClockPointer-animateTransform, .MuiPickersClockPointer-pointer, .MuiPickersClockPointer-noPoint, 
.MuiPickersClockNumber-clockNumberSelected{
    direction: ltr;
    background: #0A2D63;
    color: #FBF1EC !important;
}
  
.MuiPickersToolbarText-toolbarBtnSelected{
    color: #FBF1EC !important;
}
  
.MuiPickersModal-dialogRoot {
    border-radius: 20px !important;
    border: none !important;
}
  
.MuiPickersClockPointer-thumb{
    border-color: #0A2D63 !important;
    background-color: #FBF1EC !important;  
}
  
.MuiButton-label{
    font-size: 130%;
}
.inputStyle .MuiInputBase-input {
    color: #157492 !important;
    cursor: pointer;
    -webkit-text-fill-color: #157492 !important;
    padding: 0 ;
}

.inputStyle .MuiInputBase-input.Mui-disabled {
    color: #157492 !important;
    -webkit-text-fill-color: #157492 !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before{
    border-bottom: none;
}
.CreateMeeting .selectInput{
    margin: 1vh 2vh;
}

.CreateMeeting .arrowInput{
    margin-left: 2vh;
}

.MuiInput-underline:after{
    border-bottom: none;
}
.MuiPickersModal-withAdditionalAction > *:first-child{
    cursor: not-allowed;
    pointer-events: none;
}
  