@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');

@font-face {
    font-family: "ArbelHagildaBold";
    src: url('../fonts/ArbelHagildaBold.otf');
}

@font-face {
    font-family: "ArbelHagildaMedium";
    src: url('../fonts/ArbelHagildaMedium.otf');
  }
  
  @font-face {
    font-family: "ArbelHagildaRegular";
    src: url('../fonts/ArbelHagildaRegular.otf');
  }

.containExplanation{
    width: 100vw;
    padding: 5vw calc(10vw - 20px) 3vw 5vw;
}

.explanation-right-text{
    color: var(--custom-gray-3);
    text-align: center;
    font-size: 18px;
    /* border-right: 2px solid var(--custom-green);
    padding-right: 20px; */
    font-family: 'Heebo', sans-serif;
}

.explanation-right-headlines{
    text-align: center;
    margin-bottom: 5px;
    font-family: 'ArbelHagildaBold', sans-serif;
    font-weight: bold;
}

.explanation-headline1{
    color: var(--custom-green2);
    font-size: 38px;
}

.explanation-headline2{
    color: var(--custom-blue-3);
    font-size: 34px;
    margin-bottom: 15px;
}

.this-year{
    color: var(--custom-blue-3);
}

.explanation-left{
    color: var(--custom-blue);
    text-align: left;
    font-size: 3.5vh;
    border-left: 2px solid var(--custom-green);
    padding-left: 20px;
}

.containFirstExplanation{
    padding-top: 2vw;
}

.backgroundFlower{
    height: 5vh;
    position: relative;
    left: 1vw;
}

.containQuote{
    width: 100vw;
    padding: 5vw 21vw;
}

.quote{
    font-size: 2.6vw;
    color: var(--custom-blue)
}


@media screen and (max-width: 550px){

    .containExplanation{
        width: 100vw;
        padding: 7vw;
    }
    
    .explanation{
        font-size: 2.5vh;
    }
    
    .containFirstExplanation{
        padding-top: 24vw;
    }
    
    .containQuote{
        width: 100vw;
        padding: 5vw 10vw;
    }
    
    .quote{
        font-size: 5vw;
        color: var(--custom-blue)
    }

    .explanation-left , .explanation-right{
        font-size: 2.8vh;
    }
    
}