@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

#footer{
  /* height: 200px; */
  width: 100%;
  box-shadow: 0 -9px 13px 0 rgba(124,123,123,0.15);
}

.footer-content{
  display: flex;
  width: calc(45%);
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px;
  margin: 50px auto auto;
  border-bottom: 2px var(--custom-gray-2) solid;
}

.footer-section{
  height: 180px;
  width: calc(25%);
  /* border: 1px black solid; */
  margin: 15px;
  padding: 5px;
  white-space: nowrap;
  font-family: 'Heebo', sans-serif;
}

.footer-links a{
  color: var(--custom-gray-3);
  font-size: 16px;
  line-height: 27px;
}

.footer-links{
  color: var(--custom-gray-3);
  font-size: 16px;
  line-height: 27px;
}

.footer-links a:hover{
  text-decoration: none;
  color: var(--custom-gray);
}

.footer-headline{
  font-size: 24px;
  font-weight: bold;
  font-family: 'ArbelHagildaBold', sans-serif;
}

.icons{
  display: flex;
  flex-direction: row;
}

.icon{
  height: 16px;
  width: 16px;
  margin: 2px;
}
