.containHowItWorks{
    height: fit-content;
    width: 100vw;
    background-color: var(--custom-gray-2);
    padding: 3vw;
    padding-top: 2vw;
}

.howItWorksTitle{
    color: var(--custom-blue);
    font-size: 3vw;
    font-weight: 700;
    /* text-align: right; */
    padding: 0 7vw;
    padding-bottom: 1vw;
}

.howItWorks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vw;
}

.levels{
    border-radius: 5px;
    background-color: var(--custom-green);
    width: 60%;
    height: 100%;
    padding-bottom: 2.5vh;
    display: flex;
    flex-direction: column;
}

.result{
    position: relative;
    border-radius: 5px;
    background-color: var(--custom-dark-blue);
	width: 35%;
    margin-right: 10px;
    height: 100%;
    padding: 2vw 6vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.arrow-left-gray {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 20px;
    background: var(--custom-gray-2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	border-radius: 15px;
  }
  
  .coverBig {
	position: absolute;
    height: 70px;
    width: 40px;
    overflow: hidden;
    top: 0;
    bottom: 0;
    margin-top: auto;
	margin-bottom: auto;
	right: -10px;
  }

  .containImageStep{
      width: 7vw;
      margin-bottom: 1vh;
      height: 7vw;
  }


  .arrow-left-blue {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    background: var(--custom-green);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	border-radius: 5px;
  }
  
  .coverSmall {
	z-index: 5;
	position: absolute;
    height: 50px;
    width: 30px;
    overflow: hidden;
    top: 0;
    bottom: 0;
    margin-top: auto;
	margin-bottom: auto;
	right: -11px;
  }

  .containSteps{
      display: flex;
      margin: 2vw 5vw 0 5vw;
      color: white;
      font-size: 1.5vw;
      justify-content: center;
  }

  .howItWorksOption{
      margin: 0 5vw;
      color: white;
      /* text-align: right; */
      padding: 0 3vw;
      padding-top: 2.5vh;
      font-size: 2.5vw;
      border-bottom: 1.5px solid white;
  }

  .step{
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .resultText{
      /* text-align: right; */
      padding-top: 2vw;
      font-size: 1.5vw;
      color: white;
      font-weight: 300;
  }

  .remember{
      /* text-align: right; */
      color: white;
      font-weight: 600;
      font-size: 4vw;
  }

  
  @media screen and (max-width: 550px){

    .howItWorksTitle{
        padding-right: 6vw;
        font-size: 6vw;
    }

    .containHowItWorks{
        background-color: white;
        padding: 0vw;
    }

    .containSteps{
        margin: 4vw 6vw 0 6vw;
        font-size: 3.5vw;
    }

    .containImageStep{
        width: 12vw;
        margin-bottom: 1vh;
        height: 12vw;
    }

    .howItWorks{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
    }
    
    .levels{
        border-radius: 0px;
        background-color: var(--custom-green);
        width: 100%;
        height: fit-content;
        padding-bottom: 3vh;
    }
    .result{
        align-items: center;
        position: relative;
        border-radius: 0px;
        width: 100%;
        margin-right: 0px;
        margin-top: 5px;
        height: fit-content;
        padding: 5vw 6vw;
        padding-top: 10vw;
    }


    .arrow-left-gray {
        position: absolute;
        background: white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 15px;
      }
      
      .coverBig {
        transform: rotate(270deg);
        position: absolute;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        right: 0;
        left: 0;
        margin-top: -21px;
        top: 0;
        width: 30px;

      }


    .arrow-left-blue {
        position: absolute;
        background: var(--custom-green);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 10px;        
      }
      
      .coverSmall {
        transform: rotate(270deg);
        z-index: 5;
        position: absolute;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        right: 0;
        left: 0;
        margin-top: -16px;
        top: 0;

      }

      .howItWorksOption{
        margin: 0 5vw;
        padding: 0 4vw;
        padding-top: 2.5vh;
        font-size: 5vw;
        border-bottom: 0.7px solid white;
    }

    .resultText{
        font-size: 3.5vw;
        text-align: center;
    }
  
    .remember{
        font-size: 8vw;
    }

  }