
.meetingsFullPage{
    position: relative;
    padding-bottom: 2em;
    margin-top: 11vh;
}

.input-meetings{
    color: #4D4F5C;
    font-size: 1.3em;
    border: 0.8px solid var(--custom-light-blue);
    border-radius: 4px;
    outline: none;
    width: 55%;
    padding: 0.5vh 0;
    text-align: right;
    
}

.buttonOnMeetings{
    position:absolute;
    top: 1vh;
    left: 4vw;
    background-color: var(--custom-blue);
    color: white;
    border-radius: 100px;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 2.3vw;
    font-weight: 700;
    width: fit-content;
    cursor: pointer;
}

.input-meetings:not(.filter-meeting){
    padding: 0.5vh 1em;
}

.meetings-title{
    color: var(--custom-blue);
    font-size: 3em;
    font-weight: 700;
    text-align: right;
    margin-top: 2.5em;
}

.meetings-second-title{
    color: var(--custom-green);
    font-size: 2.3em;
    text-align: right;
}

.selectInput{
    padding: 0 1em;
}

.availableOnly{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    color: #4D4F5C;
    font-size: 1.2em;
}


.filter-meeting{
    width: 15%;
    margin-right: 2.3%;
}

.filterBy{
    flex-grow: 1;
    color: #4D4F5C;
    font-size: 1.5em;
    text-align: right;
}

.button-meetings{
    background-color: var(--custom-light-blue);
    padding: 0.2em 1em;
    font-size: 1.5em;
    color: white;
    border-radius: 50px;
    width: fit-content;
    /* width: 7em; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.disabled-button-meetings{
    background-color: var(--custom-gray-1);
    cursor: auto;
}

.containFilters , .containSearch{
    margin-top: 2em;
    display: flex;
    align-items: center;
    width: 100%;
}

.mainPage-meetings{
    width: 85em;
    margin-right: 6em;
}

.containMeetingCard{
    width: 100%;
    display: flex;
    margin-top: 2.3em;
}

.meetingCard{
    box-shadow: 0px 3px 3px #00000029;
    border-radius: 3px;
    flex-grow: 1;
    margin-right: 2em;
    display: flex;
}

.imageOfFallen{
    box-shadow: 0px 3px 3px #00000029;
    border-radius: 3px;
    overflow: hidden;
    height: 100%;
}

.meetingCardContent{
    width: 70%;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.meetingName{
    padding-top: 1em;
    text-align: right;
    color: var(--custom-blue);
    font-weight: 700;
    font-size: 2.2em;
}

.meetingFor{
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--custom-blue);
    font-weight: 700;
    font-size: 1.4em;
    border-bottom: 0.75px solid var(--custom-blue);
}

.meetingDate{
    margin-right: -0.2em;
    display: flex;
    align-items: center;
    padding-top: 0.4em;
    color: var(--custom-dark-green);
    font-weight: 700;
    font-size: 1.4em;
}

.meetingOwner{
    padding-top: 0.2em;
    display: flex;
    align-items: center;
    color: var(--custom-blue);
    font-weight: 700;
    font-size: 1.4em;
}

.meetingDescription{
    padding-top: 0.3em;
    text-align: right;
    color: var(--custom-blue);
    font-size: 1.2em;
    height: 4em;
    margin-bottom: 1em;
    overflow: hidden;
    line-height: 1.2;
}


.loadMore-meetings{
    background-color: var(--custom-blue);
    padding: 0.2em 1em;
    font-size: 1.7em;
    border-radius: 50px;
    font-weight: 600;
    width: fit-content;
    color: white;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 2em;
    cursor: pointer;
}

.leftPartOfMeetingCard{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.participants{
    width: 10em;
    height: 10em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.numberOfParticipants{
    color: var(--custom-green);
    font-size: 5em;
    font-weight: 300;
    position: absolute;
    line-height: 1.1em;
}

.joinMeetingBtn{
    margin-top: 0.7em;
    background-color: var(--custom-blue);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 0.1em 1em;
    font-size: 1.5em;
}

.meetingIsCloseBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7em;
    color: var(--custom-blue);
    border-radius: 5px;
    padding: 0.1em 1em;
    font-size: 1.5em;
    border: 1px solid var(--custom-blue);
}

/* .comment{
    color: var(--custom-blue);
    padding-top: 0.3em;
} */

@media screen and (max-width: 800px){
    .mainPage-meetings{
        width: 79em;
        margin-right: 2em;
    }    
}