.input-meetings{
    color: #4D4F5C;
    font-size: 1.3vw;
    border: 0.8px solid var(--custom-light-blue);
    border-radius: 4px;
    outline: none;
    width: 55%;
    padding: 0.5vh 0;
    text-align: right;
    
}

.input-meetings:not(.filter-meeting){
    padding: 0.5vh 1vw;
}

.selectInput{
    padding: 0 1vw;
}


.filter-meeting{
    width: 18%;
    margin-right: 3%;
}

.filterBy{
    flex-grow: 1;
    color: #4D4F5C;
    font-size: 1.5vw;
    text-align: right;
}

.button-meetings{
    background-color: var(--custom-light-blue);
    padding: 0.2vh 3vh;
    font-size: 2.8vh;
    color: white;
    border-radius: 50px;
    width: fit-content;
    /* width: 7vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.disabled-button-meetings{
    background-color: var(--custom-gray-1);
    cursor: auto;
}

.containFilters , .containSearch{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    width: 100%;
}

.mainPage-meetings{
    width: 75vw;
    margin-right: 4vw;

}

.containMeetingCard{
    width: 100%;
    display: flex;
    margin-top: 2.3vw;
}

.meetingCard{
    box-shadow: 0px 3px 3px #00000029;
    border-radius: 3px;
    flex-grow: 1;
    margin-right: 2vw;
}

.imageOfFallen{
    box-shadow: 0px 3px 3px #00000029;
    border-radius: 3px;
    overflow: hidden;
}

.meetingCardContent{
    width: 70%;
    padding-right: 2vw;
}

.meetingName{
    padding-top: 1vw;
    text-align: right;
    color: var(--custom-blue);
    font-weight: 700;
    font-size: 2.2vw;
}

.meetingFor{
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--custom-blue);
    font-weight: 700;
    font-size: 1.4vw;
    border-bottom: 0.75px solid var(--custom-blue);
}