
.meetingsFullPage{
    position: relative;
    padding-bottom: 2em;
    margin-top: 11vh;
    min-height: calc(87vh - 20px);
}
/* .emailAndPhonePopup{
    position: relative;
    padding: 3vw;
    background-color: var(--custom-dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.input-meetings{
    color: #4D4F5C;
    font-size: 1.3em;
    border: 0.8px solid var(--custom-light-blue);
    border-radius: 4px;
    outline: none;
    width: 15%;
    padding: 0.5vh;
    /* text-align: right; */
    
}



.buttonOnMeetings-right{
    right: 6vw;
}

.buttonOnMeetings-left{
    left: 6vw;
}


.buttonOnMeetings{
    position:absolute;
    top: 1vh;
    background-color: var(--custom-blue);
    color: white;
    border-radius: 100px;
    font-size: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 2.3vw;
    font-weight: 700;
    width: fit-content;
    cursor: pointer;


    /* font-size: 15px; */
    /* padding: 0px 2.5vw; */
}

.input-meetings:not(.filter-meeting-right , .filter-meeting-left){
    padding: 0.5vh 1em;
}

/* .input-meetings:not(.filter-meeting-left){
    padding: 0.5vh 1em;
} */

.input-meetings::placeholder{
    color: #4D4F5C;
}


.meetings-title{
    color: var(--custom-blue);
    font: Bold 35px Assistant;
    /* text-align: right; */
    margin-top: 0.5em;
}

.meetings-second-title{
    color: var(--custom-light-blue);
    font: Normal 28px Assistant;
    /* text-align: right; */
}

.selectInput{
    padding: 0 0.5em;
}

.availableOnly{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    color: #4D4F5C;
    font-size: 1.2em;
}


.filter-meeting-right{
    width: 15%;
    margin-right: 1.8%;
}

.filter-meeting-left{
    width: 15%;
    margin-left: 1.8%;
}

.filterBy{
    padding: 0px 3px;
    flex-grow: 1;
    color: #4D4F5C;
    font-size: 1.2em;
    /* text-align: right; */
}

.button-meetings{
    background-color: var(--custom-light-blue);
    padding: 0.2em 1.7em;
    font-size: 1.5em;
    color: white;
    border-radius: 50px;
    width: fit-content;
    /* width: 7em; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mainPage-meetings .arrowInput-tal{
    margin-right: 5px;
    color: rgb(182, 181, 181);
}

.mainPage-meetings .arrowInput-tar{
    margin-left: 5px;
    color: rgb(182, 181, 181);
}


/* .disabled-button-meetings{
    background-color: var(--custom-gray-1);
    cursor: auto;
} */

.containFilters , .containSearch{
    margin-top: 2em;
    display: flex;
    align-items: center;
    width: 100%;
}

.mainPage-meetings{
    width: 75vw;
    margin-right: 6vw;
}

.mainPage-meetings-ltr{
    margin-left: 6vw;
    margin-right: 0;

}

.containMeetingCard{
    /* position: relative; */
    width: 100%;
    display: flex;
    margin-top: 2.3em;
}

.meetingCard{
    box-shadow: 0px 3px 3px #00000029;
    border-radius: 3px;
    flex-grow: 1;
    margin-right: 2em;
    display: flex;
}

.imageOfFallen{
    box-shadow: 0px 3px 3px #00000029;
    border-radius: 3px;
    overflow: hidden;
    /* height: 100%; */
}

.meetingCardContent{
    width: 70%;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    height: 100%;

    position: relative;
}

.meetingName{
    padding-top: 1em;
    /* text-align: right; */
    color: var(--custom-blue);
    font-weight: 700;
    font-size: 2.2em;
}

.meetingFor{
    display: flex;
    align-items: center;
    /* text-align: right; */
    color: var(--custom-blue);
    font-weight: 700;
    font-size: 1.4em;
    border-bottom: 0.75px solid var(--custom-blue);
}

.meetingDate{
    margin-right: -0.2em;
    display: flex;
    align-items: center;
    padding-top: 0.4em;
    color: var(--custom-dark-green);
    font-weight: 700;
    font-size: 1.4em;
}

.meetingOwner{
    padding-top: 0.2em;
    display: flex;
    align-items: center;
    color: var(--custom-blue);
    font-weight: 700;
    font-size: 1.4em;
}

.meetingDescription{
    padding-top: 0.3em;
    /* text-align: right; */
    color: var(--custom-blue);
    font-size: 1.2em;
    max-height: 4em;
    margin-bottom: 1em;
    overflow: hidden;
    line-height: 1.2;
}


.loadMore-meetings{
    background-color: var(--custom-gray-2);
    padding: 0.2em 1em;
    font-size: 1.7em;
    border-radius: 50px;
    font-weight: 600;
    width: fit-content;
    color: var(--custom-blue);
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 2em;
    cursor: pointer;
}

.leftPartOfMeetingCard{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.participants{
    width: 10em;
    height: 10em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.numberOfParticipants{
    font-family: 'Assistant';
    color: var(--custom-green);
    font-size: 4.6em;
    font-weight: 300;
    position: absolute;
    line-height: 1.1em;
}

.joinMeetingBtn{
    margin-top: 0.7em;
    background-color: var(--custom-blue);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 0.2em 1.2em;
    font-size: 1.7em;
}

.meetingIsCloseBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7em;
    color: var(--custom-blue);
    border-radius: 5px;
    padding: 0.1em 1em;
    font-size: 1.5em;
    border: 1px solid var(--custom-blue);
}

/* .editTool{
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--custom-blue);
    border-radius: 50%;
    left: -15px;
    top: -10px;
    cursor: pointer;
} */

/* .BtnsConfirmPopup{
    background-color: white;
    color: var(--custom-blue);
    border-radius: 50px;
    padding: 2px 10px;
    font-size: 0.9em;
    margin-bottom: 5px;
    cursor: pointer;
    width: fit-content;
    margin: 15px 5px 0px 5px;
} */

/* .InputConfirmPopup{
    padding: 3px 7px;
    outline: none;
    border: 1px solid var(--custom-dark-blue);
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    border-radius: 50px;
    width: 280px;
    text-align: center;
} */

/* .InputConfirmPopup::placeholder{
    color: rgba(255, 255, 255, 0.493);
} */

/* .comment{
    color: var(--custom-blue);
    padding-top: 0.3em;
} */

@media screen and (max-width: 1200px){


    .mainPage-meetings{
        width: 90vw;
        margin-right: 6vw;
    }    
}

@media screen and (max-width: 800px){


    .mainPage-meetings{
        width: 90vw;
        margin-right: 6vw;
    }    



    .containFilters{
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 2em;
        padding: 0 5vw;
        max-height: 60vh;
        overflow: hidden;
        transition: max-height 1.5s ease;
        animation: makeOverflowVisible 0s ease-in 2s;

    }


    .input-meetings:not(.filter-meeting-right , .filter-meeting-left){
        padding: 0.5vh 0.6em;
    }


    .inputPhoneView{
        border: none;
        outline: none;
        width: 100%;
        color: #4D4F5C;
    }

    .overflow-visible{
        overflow: visible;
    }

    .containFiltersClose{
        transition: max-height 1.5s ease;

        max-height: 0;
        overflow: hidden;
    }
    
    .availableOnly{
        margin-top: 2vh;
    }

    .filterBy{
        width: 100%;
        /* text-align: right; */
    }

    .optionsContainer{
        margin-top: 1.4vh;
    }

    .input-meetings{
        padding: 1vh 3px;
        width: 100%;
    }

    .filter-meeting-left, .filter-meeting-right{
        width: 100%;
        margin: 2vh 0 0 0;
    }


    .mainPage-meetings{
        width: 100vw;
        margin: 0;
    }  

    .meetings-title{
        font: Bold 28px Assistant;
        padding: 0 5vw;
    }
    
    .meetings-second-title{
        font: Normal 20px Assistant;
        padding: 0 5vw;
    }
    
     .containSearch{
        font-size: 2em;
        padding: 0 5vw;
    }

    .buttonOnMeetings{
        position:static;
        padding: 0.4em 1em;
        font-size: 2.5vw;
        width: 100%;
        margin-top: 2vh;
    }

    .loadMore-meetings{
        padding: 0.2em 1em;
        font-size: 3vw;
        width: 100%;
        margin-top: 0;
    }

    .imageOfFallenPhone{
        margin-top: 3vh;
        margin-right: 4vw;
    }

    .meetingCard{
        padding: 2vh 4vw;
        margin-right: 0;
        /* position: relative; */
    }

    .participants{
        width: 6.5em;
        height: 6.5em;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .participants-left{
        left: 0;
    }

    .participants-right{
        right: 15px;
    }

    .meetingCardContent{
        width: 100%;
        font-size: 1.5em;
    }

    .meetingName{
        width: 75%;
        font-size: 2.5em;
    }

    .meetingFor{
        width: 90%;
        border-width: 0.6px;
    }

    .joinMeetingBtn{
        width: fit-content;
    }
    
    .meetingIsCloseBtn{
       width: fit-content;
    }

    .numberOfParticipants{
        font-size: 3.2em;
        line-height: 1.2em;
    }
    


}

/* @media screen and (min-height: 800px){
    .meetingsFullPage {
        min-height: calc(100vh - 14.8vh);
    }
} */

@media screen and (max-width: 550px){

    .loadMore-meetings{
        padding: 0.2em 1em;
        font-size: 4.5vw;
        width: 100%;
        margin-top: 0;
    }

    .buttonOnMeetings{
        position:static;
        padding: 0.4em 1em;
        font-size: 4vw;
        width: 100%;
        margin-top: 2vh;
    }
    
    .meetingOwner , .meetingDate , .meetingFor{

        font-size: 1.6em;
    }

    .meetingIsCloseBtn{
        font-size: 1.7em;
     }

     .joinMeetingBtn{
         font-size: 1.8em;
     }

    
}

@media screen and (max-width: 450px){
    .meetingDate{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 350px){
    .meetingDate{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1800px){

    .buttonOnMeetings{
        font-size: 1.2vw;
        padding: 0.2em 2.3vw;
    
    }
}