$darkBlue: #082551;
$lightBlue: #19a099;
$meetinngPageLeftWidth: 40em;
// $navBarMargin: 10vh;

#meetingPage{
  
    font-size: 0.8vw;
    @media screen and (max-width: 800px){
        font-size: 1.2vw;
    }
    @media screen and (max-width: 550px){
        font-size: 2vw;
    }
}

#meetingPageLeftInside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 0.7vw;
    @media screen and (max-width: 800px){
        font-size: 1.1vw;
    }
    @media screen and (max-width: 550px){
        font-size: 2vw;
    }
}

.containCodeDiv{
    padding: 3vh 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    font-size: 2.5em;
    margin: auto;
}

.codeInput{
    outline: none;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.226);
    color: white;
    border: none;
    padding: 1vh 2vw;
    text-align: center;
    width: 7em;
    margin-top: 1vh;
}

.codeInput::placeholder{
    color: rgb(255, 255, 255) !important;
}

#meetingPage {
    direction: rtl;
    display: flex;
    flex-direction: column;
}

#meetingPageMain {
    padding-top:  2vw;
    min-height: calc(100vh - 5vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: calc(10vh + 2vw);
    width: calc(100vw - 40em);

    #meetingMainMain {
        padding-left: 5em;
        padding-right: 5em;

        #meetingButtons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        #meetingTop {
            // margin-top: 1vh;
            display: flex;
            flex-direction: column;

            #meetingName {
                text-align: right;
                font-size: 3.5em;
                color: $darkBlue;
                font-weight: bold;
            }
            #meetingOwner {
                font-size: 2.5em;
                text-align: right;
                color: $darkBlue;
            }

            #meetingDescription {
                text-align: right;
                font-size: 1.5em;
                margin-top: 1.3vh;
                margin-bottom: 1.3vh;
                color: #707070;
                width: 60%;
            }

            #meetingDateTime {
                text-align: right;
                color: $darkBlue;
                font-weight: bold;
                font-size: 2em;
            }
        }

        #meetingFallenList {
            margin: 2vh 0;
         

            .meetingFallen {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                margin-bottom: 24px;

                // flex-direction: column;

                .meetingFallenDescription {
                    padding: 0 30px;

                    .fallenCandle {
                        height: 3em;
                    }

                    .fallenName {
                        font-size: 2.3em;
                        color: $darkBlue;
                        font-weight: bold;
                    }

                    .fallenDate {
                        font-size: 2em;
                        color: $darkBlue;
                    }
                }
            }
        }
    }

    #meetingPageBottom {
        background: $lightBlue;
        padding: 22px;
        // padding-right: 264px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        #peopleCircle {
            border: white 2px solid;
            border-radius: 100vh;
            width: 56px;
            height: 56px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;

            #peopleCircleNum {
                margin-top: -5px;
                color: white;
                font-size: 28px;
            }
        }

        #peopleCircleText {
            color: white;
            font-size: 20px;
            margin-right: 15px;
            margin-left: 15px;

        }
    }
}

#meetingPageLeft {
    overflow: auto;
    padding: 14vh 3em 7vh 3em;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: $meetinngPageLeftWidth;
    background-color: $darkBlue;
   

    #meetingLeftCandle {
        width: 52px;
    }

    .codeExplanation{
        margin-top: 2vh;
        font-size: 1.5em;
        color: white;
        width: 100%;
        display: flex;
    }

    #meetingLeftTitle {
        margin-top: 25px;
        font-size: 3em;
        font-weight: bold;
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #meetingLeftDescription {
        font-size: 2.5em;
        color: white;
    }

    #meetingErrorMsg {
        margin-top: 10px;
        margin-right: 3px;
        color: red;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 800px) {

    .containCodeDiv{
        margin: 0;
    }

    #meetingPage {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    #meetingPageMain {
        width: 100%;
        min-height: 0;

        #meetingMainMain {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        #meetingPageBottom {
            margin-top: 2rem;
            padding-left: 0;
            padding-right: 0;
            justify-content: center;
        }
    }

   
#meetingPageMain {

    #meetingMainMain {

        #meetingTop {
       
            #meetingName {
                text-align: right;
                font-size: 4.4em;
                color: $darkBlue;
                font-weight: bold;
            }
            #meetingOwner {
                font-size: 3em;
                text-align: right;
                color: $darkBlue;
            }

            #meetingDescription {
                text-align: right;
                font-size: 2.5em;
                margin-top: 1vw;
                color: #707070;
                width: auto;
            }

            #meetingDateTime {
                text-align: right;
                color: $darkBlue;
                font-weight: bold;
                font-size: 2.8em;
            }
        }

    }
}

    #meetingPageLeft {
        padding: 3rem 2rem 1rem 2rem;
        width: 100%;
        overflow: initial;
        position: initial;
    }
}

@media screen and (max-width: 550px){
    
                     
    #meetingDateTime {
        font-size: 2.8em;
    }

    #meetingPageMain {
        #meetingPageBottom{
            #peopleCircleText {
                margin: 10px 0 0 0;
            }
        }   
    }

    #meetingPageMain {
        #meetingPageBottom{
            flex-direction: column;
        }
    }

    #meetingPageMain{
        #meetingMainMain{
             #meetingFallenList{

                .meetingFallen {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 24px;

                    flex-direction: column;

                    .meetingFallenDescription {
                        text-align: center;
                        padding: 0px;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
 
}

@media screen and (max-height: 450px){
    #meetingPageLeft {
        padding: 19vh 3em 7vh 3em;

    } 
    
}