$darkBlue: #082551;

#meetingPage {
    display: flex;
}

#meetingPageMain {
    padding-top: 10rem;
    overflow: auto;
    flex-grow: 1;
}

$meetinngPageLeftWidth: 400px;

#meetingPageLeft {
    position: absolute;
    height: 100%;
    left: 0;
    width: $meetinngPageLeftWidth;
    background-color: $darkBlue;
}

#meetingBlankLeft {
    height: 100%;
    width: $meetinngPageLeftWidth;
}
