@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@font-face {
    font-family: "ArbelHagildaBold";
    src: url('../fonts/ArbelHagildaBold.otf');
}

.mainPage-meetings , .imageOfFallen {
    font-size:10px;
    @media screen and (max-width: 900px){
        font-size: 8.5px;
    }
    @media screen and (max-width: 800px){
        font-size: 7.5px;
    }
    @media screen and (max-width: 700px){
        font-size: 6.5px;
    }
    @media screen and (max-width: 600px){
        font-size: 5.5px;
    }

}


// .App{
//     font-family: 'Assistant';
//     height: 100vh;
//     overflow-y: overlay;
// }

:root {
    --custom-blue: #0A2D63;
    --custom-blue-2: #15305A;
    --custom-blue-3:  #0F2B56;
    --custom-dark-blue: #082551;
    --custom-gray-1: #00000029;
    --custom-gray-2: #EEEEEE;
    --custom-gray-3: #818181;
    --custom-gray-4: #f6f6f6;
    --custom-light-blue: #3586B1;
    --custom-yellow: #F5C508;
    --custom-green: #19A099;
    --custom-dark-green:#00726B;
    --custom-green2: #16B3AB;
    --custom-gray: #4D4F5C;
}

.pointer{
    cursor: pointer;
}

.object-fit-cover-top{
    object-fit: cover;
    object-position: center;
}

.containLanguage{
    visibility: visible;
    display: flex;
    z-index: 11;
    position: fixed;
    right: 0px;
    top: 0;
}



.containMenu{
    z-index: 11;
    position: fixed;
    right: 20px;
    align-items: center;
    display: flex;
    text-align: right;
    height: 10vh;
    visibility: hidden;
    display: none;
}

.navbar{
    // z-index: 10;
    // width: 100vw;
    // height: 10vh !important;
    // box-shadow: 0px 3px 6px #00000029;
    // position: fixed !important;
    // top: 0 !important;
    // display: flex;
    background: #FFFFFF;
    box-shadow: 0 -1px 16px 0 ,
    rgba(124,123,123,0.29);
}

.navbar-opening{
    //background: rgba(255, 255, 255, 0.575) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(50px);
    background: #ffffff;
    box-shadow: 0 -1px 16px 0 rgba(124,123,123,0.29);
    -webkit-backdrop-filter: blur(50px);
}

.navbarOptions{
    width: 100%;
    padding-right: calc(5% - 1.5rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.navbarIcon{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.containIconNavbar{
    height: 7vh;
    margin-left: 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.optionInNavbar{
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    color: var(--custom-blue-2);
    margin: 0 15px;
}

.lngNB{
    // position: absolute;
    // bottom: 8px;
    // margin: 0;
    // left: 10px;
    border: 1px solid var(--custom-blue) !important;
    border-radius: 100px;
}

.lgnP{
    // font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
}

.navbarLeft{
    display: flex;
}

@media screen and (max-width: 900px) and (max-height: 1200px){
    // .navbarOptions{
    //     align-items: baseline;
    // }
    .containIconNavbar{
        height: 6vh;
        margin-left: 2%;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
    }

    .navbarIcon{
        width: 30%;
    }
    // .navbarOptions{
    //     width: 70%;
    // }

    .containMenu{
        visibility: visible;
        display: flex;
    }
    .optionInNavbar{
       display: none;
    }

    .containLanguage{
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 1100px){
   
    .optionInNavbar{
      font-size: 13px;
    }
}


@media screen and (max-width: 1000px){
   
    .optionInNavbar{
      font-size: 12px;
    }

    .containIconNavbar{
        height: 6vh;

    }
    
}


@media screen and (max-width: 900px){
   
    .optionInNavbar{
      font-size: 11px;
    }
}

@media screen and (max-height: 450px){
    .navbar{
        position: unset !important;
        height: 15vh !important;
    }

    .containMenu{
        height: 15vh;
    }
}

@media screen and (max-width: 550px){
    .containIconNavbar{
        height: 5vh;
        margin-left: 2.6%;
    }

    .navbar{
        position: unset !important;
        // height: 15vh !important;
    }
    // .navbarOptions{
    //     align-items: center !important;
    // }
}

@media screen and (max-width: 310px){
    .containIconNavbar{
        height: 4vh;
    }


}
