@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700&display=swap');

.mainPage-meetings , .imageOfFallen {
    font-size:10px;
    @media screen and (max-width: 900px){
        font-size: 9px;
    }
    @media screen and (max-width: 800px){
        font-size: 8px;
    }
    @media screen and (max-width: 700px){
        font-size: 7px;
    }
    @media screen and (max-width: 600px){
        font-size: 6px;
    }

}


.App{
    font-family: 'Assistant';
    height: 100vh;
    overflow-y: overlay;
}

:root {
    --custom-blue: #0A2D63;
    --custom-dark-blue: #082551;
    --custom-gray-1: #00000029;
    --custom-gray-2: #EEEEEE;
    --custom-light-blue: #3586B1;
    --custom-yellow: #F5C508;
    --custom-green: #19A099;
    --custom-dark-green:#00726B;
    --custom-gray: #4D4F5C;
}

.pointer{
    cursor: pointer;
}

.object-fit-cover-top{
    object-fit: cover;
    object-position: center;
}

.containLanguage{
    visibility: visible;
    display: flex;
    z-index: 11;
    position: fixed;
    right: 0px;
    top: 0;
}

.lngNB{
    margin-left: 10vw !important;

    border: 1px solid var(--custom-blue) !important;
    border-radius: 100px;
}

.lgnP{
    padding-left: 15px;
    padding-right: 15px;
}

.containMenu{
    z-index: 11;
    position: fixed;
    right: 20px;
    align-items: center;
    display: flex;
    text-align: right;
    height: 10vh;
    visibility: hidden;
    display: none;
}

.navbar{
    z-index: 10;
    width: 100vw;
    height: 10vh !important;
    box-shadow: 0px 3px 6px #00000029;
    position: fixed !important;
    top: 0 !important;
    display: flex;
}

.navbar-opening{
    background: rgba(255, 255, 255, 0.575) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.navbarOptions{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbarIcon{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.oblogo{
    margin-top: 1.4vh;
    // margin-left: 0.5vw;
}

.containIconNavbar{
    height: 7vh;
    margin-left: 5%;
}

.optionInNavbar{
    font-size: 15px;
    font-weight: 600;
    color: var(--custom-blue);
    margin: 0px 2vw;
    margin-top: auto;
}

@media screen and (max-width: 800px){
    .navbar{
        position: fixed !important;
        top: 0 !important;
    }

    .navbarIcon{
        width: 30%;
    }
    .navbarOptions{
        width: 70%;
    }

    .containMenu{
        visibility: visible;
        display: flex;
    }
    .optionInNavbar{
       display: none;
    }

    .containLanguage{
        visibility: hidden;
        display: none;
    }
}


@media screen and (max-width: 900px){
   
    .optionInNavbar{
      font-size: 12px;
    }
}

