
.containOpening{
    position: relative;
}

.openingImage-before{
    width: 100vw;
    height: 85vh;
    background-image: url(../icons/openImageBefore.jpeg);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: -webkit-filter 0.5s linear, filter 0.5s linear;  
}

.openingImage-after{
    width: 100vw;
    height: 85vh;
    background-image: url(../icons/openImage.png);
    filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: -webkit-filter 0.5s linear, filter 0.5s linear;  
}

.lightBlueBackgroundEn{
    position: absolute;
    width: 50vw;
    left: 3%;
    bottom: 15%; 
}

.lightBlueBackground{
    position: absolute;
    width: 50vw;
    right: 3%;
    bottom: 15%;

}

.whiteLine{
    width: 2px; 
    background-color: white;
    height: 70%;
    position: absolute;
    top: 0;
    right: 5%;
}

.whiteLineEn{
    width: 2px; 
    background-color: white;
    height: 70%;
    position: absolute;
    top: 0;
    left: 5%;
}


@media screen and (min-width: 551px){


    .containOptions{
        position: absolute;
        bottom: -3vw;
        height: 6vw;
        display: flex;
        width: 100vw;
        padding: 0 10vw;
    
    }
    
    .firstOptionOpeningImage , .secondOptionOpeningImage{
        border-radius: 100px;
        font-size: 2.4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 2.5vw;
        font-weight: 700;
        width: fit-content;
        height: 100%;
    
    }
    
    .firstOptionOpeningImage{
      background-color: var(--custom-blue);
      right: 20vw;
      color: white;
    }
    
    .ml6vw{
        margin-left: 6vw;
    }
    
    .secondOptionOpeningImage{
        background-color: var(--custom-green);
        right: 40vw;
        color: white;
    }
    
    .containOptionsBottom{
        bottom: -3vw;
        height: 6vw;
        display: flex;
        width: 100vw;
        padding: 0 10vw;
    }
    

}




@media screen and (min-width: 801px){

.containOptions{
    position: absolute;
    bottom: -2vw;
    height: 4vw;
    display: flex;
    width: 100vw;
    padding: 0 10vw;

}

.firstOptionOpeningImage , .secondOptionOpeningImage{
    border-radius: 100px;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2.5vw;
    font-weight: 700;
    width: fit-content;
    height: 100%;

}

.firstOptionOpeningImage{
  background-color: var(--custom-blue);
  right: 20vw;
  color: white;
}

.secondOptionOpeningImage{
    background-color: var(--custom-green);
    right: 40vw;
    color: white;
}

.containOptionsBottom{
    bottom: -2vw;
    height: 4vw;
    display: flex;
    width: 100vw;
    padding: 0 10vw;
}
}

@media screen and (max-width: 800px){
    #OIB{
        margin-top: 5vh;
    }
    
}






@media screen and (max-width: 550px){


    #OIB{
        height: 40vh;
    }

    .containOptions{
        padding: 0;
        position: absolute;
        bottom: -19vw;
        /* height: 10vw; */
        display: flex;
        flex-direction: column !important;
        align-items: center;
        width: 100vw;
    
    }
    
    .firstOptionOpeningImage , .secondOptionOpeningImage{
        border-radius: 100px;
        font-size: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 3vw;
        font-weight: 700;
        width: 60vw;
        height: 12vw;
    
    }
    
    .firstOptionOpeningImage{
      background-color: var(--custom-blue);
      right: 0;
      color: white;
      margin-left: 0;

    }
    
    .secondOptionOpeningImage{
        margin-top: 2vw;
        background-color: var(--custom-green);
        right: 40vw;
        color: white;
        right: 0;
    }

    .containOptionsBottom{
        bottom: -2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    

    .lightBlueBackground{
        width: 70vw;
    }
    
    .lightBlueBackgroundEn{
        width: 70vw;
    }
}