.opening-video{
  /* height: 80vh; */
  background: #ffffff;
  text-align: center;
  margin: 100px 0 0 0;
}

@media screen and (max-width: 550px){
  .opening-video{
    display: none;
  }

  .openingImage{
    width: 90vw;
  }
}