.thanks{
    background: var(--custom-green);
    width: 100vw;
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10vw;
    font-size: 4vh;
    color: white;
}


.arrow-bottom-green {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 30px;
    background: var(--custom-green);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	border-radius: 5px;
  }
  
  .cover {
    transform: rotate(270deg);
	z-index: 5;
	position: absolute;
    height: 150px;
    width: 45px;
    overflow: hidden;
    right: 15vw;
    bottom: -90px;
  }

  .containPartners{
      width: 100vw;
      padding: 4vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
  }

  .partner{
    cursor: pointer;
    height: 7vw;
    display: flex;
    align-items: center;
    margin: 2.3vw;
  }

  .hilmeCredit{
    background-color: var(--custom-dark-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2vw;
    padding: 1vh 3vw;
  }

  @media screen and (max-width: 550px){
    .thanks{
        background: var(--custom-green);
        width: 100vw;
        height: 5vh;
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 10vw;
        font-size: 2vh;
    }

    .partner{
      height: 8vw;
      margin: 4vw 1.3vw;
    }

    .hilmeCredit{
      font-size: 2.8vw;
    }

      .cover {
        transform: rotate(270deg);
        z-index: 5;
        position: absolute;
        height: 112px;
        width: 20px;
        overflow: hidden;
        right: 13vw;
        bottom: -65px;
      }
  }