/* .responsiveImage{
  display: none;
} */

@media screen and (max-width: 550px){
  .responsiveImage{
    display: flex;
    margin: 0;
    padding: 0;
  }
  .responsiveImage img{
  width: 95vw;
  }
}

@media screen and (min-width: 551px){
  .responsiveImage img{
    display: none;
  }
}