/* .responsiveImage{
  display: none;
} */

@media screen and (max-width: 900px){
  .responsiveImage{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .responsiveImage img{
  width: 95vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 750px){
  .responsiveImage img{
  width: 80vw;
  }
}

@media screen and (min-width: 751px){
  .responsiveImage img{
    display: none;
  }
}