.rights{
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: var(--custom-gray-3);
  direction: rtl;
}

@media screen and (max-width: 550px){
  .rights{
    font-size: 12px;
    margin: 10px 0;
  }
}