.selectContainer{
    color: var(--custom-gray);
    height: 100%;
    position: relative;
}

.select, .optionsContainer{
    background-color: var(--custom-background-light-blue);
    border-radius: 5px;
    /* margin-bottom: 3px; */
}

.containImgInSelect{
    display: flex;
    width: 1em;
    height: 1em;
    align-items: center;
}

.mr1{
    margin-right: 8px;
}

.ml1{
    margin-left: 8px;
}

.rtl{
    direction: rtl;
}

.optionsContainer{
    position: absolute;
    width: 100%;
    box-shadow: 3px 4px 15px rgba(185, 188, 199, 0.795);
    overflow: auto;
    max-height: 200px;
    z-index: 1;
    margin-top: 0.6vh;
}

.sometingSelected{
    background-color: rebeccapurple;
}

.selectOption:not(:last-child){
    border-bottom: 1px solid rgba(208, 212, 221, 0.4);
}

.selectOption:hover{
    background-color: #ffffff85;
}

.cursor{
    cursor: pointer;
}

.optionInSelect{
    padding: 1vh 2vh;
    display: flex;
    align-items: center;
}

.optionInSelect:hover{
    background-color: rgb(235, 235, 235);
}