#sharingBox{
    background: #0A2D63;
    border-radius: 30px;
    width: fit-content;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    padding: 0.5em 1.3em;
    display: flex;
    height: fit-content;
}

.containSharingImage{
    height: 6vh;
    width: 6vh;
}

.containSharingImageMeeting{
    height: 4vh;
    width: 4vh;
}


#sharingBoxMeeting{
    background: #0A2D63;
    border-radius: 30px;
    width: fit-content;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    padding: 0.5em 1.3em;
    display: flex;
    height: fit-content;
}

.inviteSpan{
    margin-right: 0.5rem;
}

#smallFlex{
    display: flex;
    justify-content: space-evenly;
}

#platformIcon{
    margin-left: 1rem;
}

#platformName{
    text-align: right;
}

.invalidEmail{
    color: red;
    text-align: center;
}