.sucessPage{
    background: #082551;
}

.sucessHeadline{
    color: white;
    font-weight: bold;
    text-align: right;
    font-size: 1.5rem;

}

.sucessHeadline2{
    color: white;
    text-align: right;
    font-size: 1.2rem;
    margin-right: 0.8vw;

}

.backArrow{
    text-align: right;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.sucessInfo{
    display: flex;
    margin-top: 2rem;
}

.deathTime{
    color: white;
}

.fallenImage{
    margin-left: 2rem;
}

.deathTime{
    font-weight: bold;

}
.relationInfo{
    color: white;
}

.relationDiv{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {

}