


.sucessPage{
    background: #00726B;
    width: 100vw;
    font-size: 1.5vh;
    height: 70vh;

    

}


.bigContainer{
    margin-right: 10em;
    margin-left: 15em;
    width: fit-content;
}

.sucessHeadline{
    color: white;
    font-weight: bold;
    text-align: right;
    font-size: 3.4em;

}

.sucessHeadline2{
    color: white;
    text-align: right;
    font-size: 2.4em;
    line-height: 1em;
    margin-bottom: 1em;
}

.backArrow{
    text-align: right;
    padding-top: 1em;
    font-size: 2em;
    // margin-bottom: 1em;
}

.sucessInfo{
    display: flex;
    margin-top: 1em;
}


.fallenName{
    font-size: 2em;
    width: 20em;
    border-bottom: 0.7px solid white;
}

.fallenImage{
    margin-left: 2em;
}

.relationInfo{
    color: white;
}

.relationDiv{
    font-size: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.annonymousPerson{
    margin-left: 0.4em;
}

.whiteCandle{
    margin-left: 0.4em;
}

.detailsInfo{
    font-size: 1.3em;
    color: white;
    // width: 30em;
}

.meetingInfo{
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-right: 2em;
}


.exactDate{
    color: white;
    margin-right: 0.4em;
}

.meetingDate{
    font-size: 1.5em;
    margin-top: 1em;
}

.isMeetingOpen{
    margin-top: 0.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    // width: 11em;
    // &:hover{
    //     background-color: white;
    //     color: #082551;
    //     transition: 1s;
    // }
}

.shareWith{
    color: white;
    font-weight: bold;
    font-size: 2.6em;
    margin-top: 1em;
    padding-bottom: 2em;
    text-align: right;
    
}


#meetingStatus{
    // margin: 0.2em;
}

.whiteFutter{
    background-color: white;
}

.sharingComponent{
    position: relative;
    top: -1.5em;
    display: flex;
    margin-right: 10em;
    margin-left: 15em;
}

.additionalInfo{
    font-size: 1em;
    margin-right: 7em;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #082551;

}

.flexImage{
    display: flex;
    flex-direction: column;
}

#divider{
    color:white;
    border-top: 1px solid #ffffff;
    margin-top: 0em;
}

#sendButton{
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    .backArrow{
        margin-bottom: 0;
        padding-top: 2em;
    }

    .bigContainer{
        margin-right: 1em;
        margin-left: 0;
    }

    .additionalInfo{
        margin-right: 1em;
        margin-left: 0;
    }

    .meetingInfo{
        margin-right: 0;
        width: 30vh;
    }

    .detailsInfo{
        width: 30vh;
    }

    .shareWith{
        right: 0;
    }

    #sharingBox{
        right: -4em;
    }
}