
.sucessPage{
    background: #00726B;
    width: 100vw;
    font-size: 10px;
    flex-grow: 1;
  

    @media screen and(min-height: 700px){
        font-size: 12px;
    }

    @media screen and(min-height: 850px){
        font-size: 14.5px;
    }

    @media screen and(min-height: 1000px){
        font-size: 17px;
    }
}

.whiteFutter{
    font-size: 1.5vh;
    background-color: white;
    padding-bottom: 1em;
    padding:0 7em;
}


.bigContainer{
    margin:0 7em;
    width: calc(100vw - 10em);
    padding-bottom: 4em;
}

.sucessHeadline{
    color: white;
    font-weight: bold;
    text-align: right;
    font-size: 3.4em;

}

.sucessHeadline2{
    color: white;
    text-align: right;
    font-size: 2.4em;
    line-height: 1em;
    margin-bottom: 1em;
}

.backArrow{
    text-align: right;
    padding-top: 1em;
    font-size: 2em;
}

.sucessInfo{
    display: flex;
    margin-top: 1em;
}


.fallenName{
    color: white;
    display: flex;
    align-items: center;
    font-size: 2em;
    width: 100%;
    border-bottom: 0.7px solid white;
}

.fallenImage{
    margin-left: 2em;
}

.relationInfo{
    color: white;
}

.relationDiv{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.detailsInfo{
    font-size: 1.3em;
    color: white;
    // width: 30em;
}

.meetingInfo{
    display: flex;
    text-align: right;
    flex-direction: column;
    margin: 0 2em;
    min-width: 30%;
}


.exactDate{
    color: white;
    margin-right: 0.4em;
}

.meetingDateSuccess{
    font-size: 1.5em;
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.isMeetingOpen{
    margin-top: 0.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.shareWith{
    color: white;
    // font-weight: bold;
    font-size: 3vw;
    // margin-top: 1em;
    padding: 16px 0;
    padding-right:2em; 
    // padding-bottom: 2em;
    text-align: right;
    
}

.sharingComponent{
    position: relative;
    height: fit-content;
    height: 8vh;
    top: -4vh;
    display: flex;
    margin-right: 7em;
}

.additionalInfo{
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #082551;
    padding: 1vh 0;
}

.flexImage{
    display: flex;
    width: 11em;
    flex-direction: column;
}

#divider{
    color:white;
    border-top: 1px solid #ffffff;
    margin-top: 0em;
}

#sendButton{
    justify-content: center;
}


@media screen and (max-width: 550px) {

    .whiteFutter{
        background-color: white;
        padding: 0 1em;
        padding-bottom: 1em;
    }
    
    .backArrow{
        padding-right: 1em;
    }

    .sucessPage{
        height:fit-content;
    }

    .flexImage{
        margin: auto;
    }

    .detailsInfo{
        text-align: center;
    }

    .sucessHeadline{
        text-align: center;
        width: 100%;    
    }
    
    .sucessHeadline2{
       text-align: center;
       width: 100%;  
    }

    .sucessInfo{
        flex-direction: column;
    }
    
    .fallenName{
        width: fit-content
    }

    .bigContainer{
        width: 100vw;
        padding-right: 1em;
        padding-left: 1em;
        margin: 0;
        padding-bottom: 4em;
    }

    .additionalInfo{
        margin-right: 1em;
        margin-left: 0;
    }

    .meetingInfo{
        margin-right: 0;
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .shareWith{
        right: 0;
        // margin: auto;
        text-align: center;
        padding: 1em;
        // padding-top: 1em;
    }

    .sharingComponent{
        position: relative;
        display: flex;
        margin: auto;
        justify-content: center;
    }
}