@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

.App-rtl {
  // font-family: 'Assistant' !important;
  // text-align: center;
  // width: 100vw;
  direction: rtl;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  color: #15305A;
  letter-spacing: 0;
  text-align: right;
  font-weight: 500;
}

.App-ltr {
  font-family: 'Assistant' !important;
  text-align: center;
  width: 100vw;
  direction: ltr;
}

.tar{
  text-align: right;
}

.tal{
  text-align: left;
}

.fdrr{
  flex-direction: row-reverse;
}

::-webkit-scrollbar {
  background-color: white !important;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  display: none
}

::-webkit-scrollbar-thumb {
  background-color: #A3A6B4 !important;
  border-radius: 16px;
} 

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  letter-spacing: 0.24px;
  color: #A3A6B4;
  opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
  letter-spacing: 0.24px;
  color: #A3A6B4;
  opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
  letter-spacing: 0.24px;
  color: #A3A6B4;
  opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
  letter-spacing: 0.24px;
  color: #A3A6B4;
  opacity: 0.5;
}


html {
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBarMargin{
  margin-top: 10vh;
}

@media screen and (max-height: 450px){
  .navBarMargin{
    margin-top: 15vh;
  }
  
}
